.mdc-card {
    margin-bottom: 10px;
}

.device-card {
    background-color:#f5f5f5;
    margin-bottom: 30px;
}

mat-chip {
    padding: 0px 0px !important;
    margin: 0px 2px !important;
    font-size: smaller;
}